@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section {
	@apply bg-tertiary px-4 py-12;
}

h1 {
	@apply text-primary font-primary font-bold text-4xl;
}

h2 {
	@apply text-primary font-primary font-semibold text-3xl;
}

h3 {
	@apply text-primary font-primary text-2xl;
}

p {
	@apply text-secondary font-secondary text-base leading-relaxed;
}

a {
	@apply text-accent font-secondary;
}

a:hover {
	@apply underline;
}
